*{
    box-sizing: border-box;
}


.box{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    position: relative;
    top: 200px;
    animation-name: block;
    animation-iteration-count: infinite;
    /*transition: 1s;*/
    animation-direction: normal;
    animation-duration: 20s;
    transform-style: preserve-3d;

}


.front{
    height: 200px;
    width: 200px;
    background: red;
    position: absolute;
    animation-name: first;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 20s;
   }


.back{
    height: 200px;
    width: 200px;
    background: green;
    position: absolute;
    animation-name: second;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-duration: 20s;
}
@keyframes block {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes first {
    from{
        transform: rotateZ(0deg) translateZ(100px);
    }

    to{
        transform: rotateZ(360deg);
    }
}


